<h3>Summary:</h3>
<br>
<div class="col-md-4 order-md-2 mb-4">
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <img src="../../assets/sony-playstation-5-ps5-digital-edition.jpg" width="100px">
          <h4 class="my-0">PlayStation 5</h4>
          <small class="text-muted"></small>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-muted">
          <h4 class="my-0">Cost</h4>
          <small></small>
        </div>
        <h4 class="text-muted">$250</h4>
      </li>
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-muted">
          <h4 class="my-0">Shipping</h4>
          <small></small>
        </div>
        <h4 class="text-muted">$15</h4>
      </li>
      
      <li class="list-group-item d-flex justify-content-between">
        <h4>Total (USD)</h4>
        <h4><strong>$265</strong></h4>
      </li>
    </ul>

  </div>